<!DOCTYPE html>
<html>
<head>
	<title>
		Pet Info
	</title>
		<%- include partials/links.ejs %>
	<style>
		.card{
			display: inline-flex;
			margin-left: 6.5%;
			margin-top: 2%;
			color: black;
		}
		#nbar,#sub{
			background-color: #ee894e;
		}
		#sub{
			border:1px solid #ee894e;
		}
		.nav-link,.navbar-brand{
			color: white;
		}
		body{
			background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("main_img.jpg") no-repeat;
  			background-size: cover;
		}

		.card:hover{
			border:1px solid #ee894e;
			border-color:#ee894e;
			color:white;
			background-color: rgba(1,0,0,1);
			text-decoration: none;
		}
		form{
			margin-left: 5.05%;
			margin-top:100px;
		}
		#fom{
			background:#ee894e;
			border-color: #ee894e;
		}
		.form-group{
			display: inline-block;
			width: 28%;
			margin-left: 1.5%
		}
		#find{
			display: inline-block;
			width: 60px;
			background-color: #ee894e;
			border-color: #ee894e;
		}
		.card-body{
			height: 4%;
		}
		img{
			height: 300px;
		}
            footer {
                background-color:#ee894e;
                background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9));
                margin-top:4%;
                color: #838383;
            }
            footer a{
                color: #838383;
            }
            footer a:hover{
                text-decoration: none;
                color: orange;
            }
            .card{
            	border-radius: 30px;
            }
            #im{
            	border-radius: 100px;
            }

	</style>
	           <script>
               $(document).ready(function(){
                    $("#nbar").hide();
                    $("#nbar").slideDown(600);
               });
           </script>
</head>
<header>
		<%- include partials/navbar.ejs %>
</header>
<body>
	<form action="/breed" method="POST">
	  <div class="form-group">
	    <select class="form-control" name="Breed">
	      <option selected>Breed</option>
	      <% for(var i=0;i< breed.length;i++) { %>
	      <option value="<%= breed[i].breed %>"><%= breed[i].breed %></option>
	      <% } %>
	    </select>
	  </div>
	  <div class="form-group">
	    <select class="form-control" id="Location">
	      <option selected="">Location</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	  </div>
	  <div class="form-group" id="btn">
	  	<button href="#" class="btn btn-primary" id="find">Find</button>
	  </div>
	</form>
	
	<% for(var i=0;i< pet.length;i++) { %>
	  <a class="card" style="width:23rem;height: 28rem" href="<%= pet[i].animal %>/<%= pet[i].pid %>">
	    <div id="im">
	    	<img src="images/<%= pet[i].name %>.jpg" class="card-img-top" alt="...">
	    </div>
	    <div class="card-body">
	      <h5 class="card-title"><%= pet[i].breed %></h5>
	      <p class="card-text">Name : <%= pet[i].name %><br>Age : <%= pet[i].age %> months<br></p>
	    </div>
<!-- 	    <div class="card-footer">
	      <a href="<%= pet[i].animal %>/<%= pet[i].pid %>" class="btn btn-primary" id="fom" >Find out more</a>
	    </div> -->
	  </a>
	  <% } %>
</body>
<%- include partials/footer.ejs %>
</html>